Package: drauger-upgrade-script
Version: 0.2.4
Maintainer: Thomas Castleman <batcastle@draugeros.org>
Section: admin
Architecture: all
Priority: optional
Depends: bash
Description: Upgrade Drauger OS to new versions
 Upgrade Drauger OS to the next release by simply running `upgrade-drauger'

